<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Majestic Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/base/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-5.3.0/css/bootstrap.min.css') }}">



</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="../../index.html"><img src="../../images/logo.svg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../images/logo-mini.svg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-4 w-100">
          <li class="nav-item nav-search d-none d-lg-block w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown me-1">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-bs-toggle="dropdown">
              <i class="mdi mdi-message-text mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="../../images/faces/face4.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal">David Grey
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="../../images/faces/face2.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal">Tim Cook
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    New product launch
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="../../images/faces/face3.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal"> Johnson
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown me-4">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
              <i class="mdi mdi-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-success">
                    <i class="mdi mdi-information mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-warning">
                    <i class="mdi mdi-settings mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-info">
                    <i class="mdi mdi-account-box mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
              <img src="../../images/faces/face5.jpg" alt="profile"/>
              <span class="nav-profile-name">Louis Barnett</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="mdi mdi-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('billboard') }}">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">看板</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">會議室管理</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('reserve') }}">預約會議室</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('reserve_info') }}">預約信息</a></li>
              </ul>
            </div>
          </li>



          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="mdi mdi-account menu-icon"></i>
              <span class="menu-title">用戶管理</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('linshi') }}"> 個人信息 </a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('linshi') }}"> 權限管理 </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('linshi') }}">
              <i class="mdi mdi-file-document-box-outline menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Bordered table</h4>
{#                  <p class="card-description">#}
{#                    Add class <code>.table-bordered</code>#}
{#                  </p>#}
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead id="tableHead">
                      </thead>
                      <tbody id="tableBody">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 编辑用户的弹窗 -->
          <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editUserModalLabel">编辑用户信息</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="editUserForm">
                    <input type="hidden" id="editUserId">
                    <div class="form-group">
                      <label for="editFirstName">名字</label>
                      <input type="text" class="form-control" id="editFirstName" required>
                    </div>
                    <div class="form-group">
                      <label for="editProgress">进度</label>
                      <input type="text" class="form-control" id="editProgress" required>
                    </div>
                    <div class="form-group">
                      <label for="editAmount">金额</label>
                      <input type="number" class="form-control" id="editAmount" required>
                    </div>
                    <div class="form-group">
                      <label for="editDeadline">截止日期</label>
                      <input type="date" class="form-control" id="editDeadline" required>
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
{#        <footer class="footer">#}
{#        <div class="d-sm-flex justify-content-center justify-content-sm-between">#}
{#          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2021</span>#}
{#          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard  </a> templates</span>#}
{#        </div>#}
{#        </footer>#}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='vendors/base/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <!-- endinject -->

  <script>
    $(document).ready(function() {
      // 使用AJAX加载数据
      $.ajax({
        url: '/api/reserve',
        type: 'GET',
        dataType: 'json',
        success: function(response) {
          const tableHead = $('#tableHead');
          const tableBody = $('#tableBody');

          // 清空当前内容
          tableHead.empty();
          tableBody.empty();

          // 动态生成表头
          const headerRow = $('<tr></tr>');
          response.columns.forEach(column => {
            headerRow.append(`<th>${column}</th>`);
          });
          headerRow.append('<th>操作</th>'); // 添加操作列
          tableHead.append(headerRow);

          tableHead.append(headerRow);

          // 动态生成表格行
          response.data.forEach(item => {
            const row = `
              <tr>
                <td>${item.user_id}</td>
                <td>${item.first_name}</td>
                <td>${item.progress}</td>
                <td>$${item.amount.toFixed(2)}</td>
                <td>${item.deadline}</td>
                <td>
                  <button class="btn btn-warning edit-btn" data-id="${item.user_id}" data-first-name="${item.first_name}" data-progress="${item.progress}" data-amount="${item.amount}" data-deadline="${item.deadline}">编辑</button>
                  <button class="btn btn-danger delete-btn" data-id="${item.id}">删除</button>
                </td>
              </tr>
            `;
            tableBody.append(row);
          });

           // 编辑按钮的点击事件
          $('.edit-btn').on('click', function() {
            const userId = $(this).data('id');
            const firstName = $(this).data('first-name');
            const progress = $(this).data('progress');
            const amount = $(this).data('amount');
            const deadline = $(this).data('deadline');

            console.log(userId);
            console.log(firstName);

            // 填充弹窗数据
            $('#editUserId').val(userId);
            $('#editFirstName').val(firstName);
            $('#editProgress').val(progress);
            $('#editAmount').val(amount);
            $('#editDeadline').val(deadline);

            // 显示弹窗
            $('#editUserModal').modal('show');
          });

          // 提交编辑表单
          $('#editUserForm').on('submit', function(e) {
            e.preventDefault();

            const userId = $('#editUserId').val();
            const updatedData = {
              first_name: $('#editFirstName').val(),
              progress: $('#editProgress').val(),
              amount: parseFloat($('#editAmount').val()),
              deadline: $('#editDeadline').val()
            };

            // 发送AJAX请求更新数据
            $.ajax({
              url: `/api/reserve/${userId}`,
              type: 'PUT',
              contentType: 'application/json',
              data: JSON.stringify(updatedData),
              success: function(response) {
                $('#editUserModal').modal('hide');
                // 重新加载表格数据
                location.reload();
              },
              error: function(xhr, status, error) {
                console.error('更新失败:', error);
              }
            });
          });



        },
        error: function(xhr, status, error) {
          console.error('数据获取失败:', error);
        }
      });


    });
  </script>


</body>

</html>
